#navtree {
    background: blue;
    width: 266px;
    border: 1px solid white;
}

.season {
    border: 1px solid white;
}

.season .team {
    background: lightblue;
    width: 180px;
    list-style-type: none;
    border: 1px solid white;
}

.player {
    border: 1px solid white;
}